@font-face {
    font-family: "Montserrat", serif;
    src: url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500..700;1,100..900&display=swap");
}

@font-face {
    font-family: "Fraunces", serif;
    src: url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,700;1,9..144,700&display=swap");
}

:root {
    --Dark-cyan: #3c8067;
    --Cream: #f2ebe3;
    --Very-dark-blue: #1c232b;
    --Dark-grayish-blue: #6c7289;
    --White: #ffffff;

    --Fraunces: "Fraunces";
    --Montserrat: "Montserrat";
}

* {
    font-family: var(--Montserrat);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-inline-size: 100%;
    block-size: auto;
}

body {
    background-color: var(--Cream);
    margin: 1.75rem 1rem;
}

.card {
    background-color: var(--White);
}

.card__info-tag {
    margin-bottom: 0.75rem;
    color: var(--Dark-grayish-blue);
}

.card__info {
    padding: 1.5rem;
}

.card__description h1 {
    font-family: var(--Fraunces);
    margin-bottom: 1rem;
    color: var(--Very-dark-blue);
}

.card__description p {
    margin-bottom: 1.5rem;
    color: var(--Dark-grayish-blue);
}

.card__price {
    margin-bottom: 1.25rem;
}

.card__parfume-price {
    font-family: var(--Fraunces);
    color: var(--Dark-cyan);
}

.card__parfume-discound {
    color: var(--Dark-grayish-blue);
    text-decoration: line-through;
}